<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    a{
        text-decoration: none;
        color: green;
        font-size: larger;
    }
</style>
<body>
    <a href="{% url 'navbar'%}">NAVBAR</a>
    <h1>About This Application</h1>
    <h3><i>This project is built using Django to learn the basics of web development, including URL mapping, template rendering, and reusable components like navigation bars.</i></h3>
</body>
</html>