<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    a{
        text-decoration: none;
        color: green;
        font-size: larger;
    }
</style>
<body>
    <a href="{% url 'navbar'%}">NAVBAR</a>
    <h1>Welcome to My First Django App</h1>
    <h3><i>This is a simple Django-based web application created to understand routing, templates, and navigation. It demonstrates how pages are connected using Django URLs and views.</i></h3>
</body>
</html>