{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow p-4">

<h2 class="mb-4">
    Apply for {{ job.title }}
</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="mb-3">
        <label class="form-label">
            Upload Resume
        </label>

        <input type="file"
               name="resume"
               class="form-control">
        </div>

    <button type="submit"
            class="btn btn-success w-100">

        Submit Application

    </button>
    </form>

</div>
</div>
</div>

{% endblock %}